<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/highlight.css">
    <link rel="stylesheet" href="/media/css/highlighter-rouge.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
    window.MathJax = {
      chtml: {
        scale: 0.9
      },
      tex: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ["$$","$$"], ["\\[", "\\]"] ],
        processEscapes: true,
        macros: {
          NN: "{\\mathbb{N}}",
          QQ: "{\\mathbb{Q}}",
          RR: "{\\mathbb{R}}",
          abs: ["{\\vert #1 \\vert }", 1],
          absB: ["{\\big\\vert #1 \\big\\vert }", 1],
          absBB: ["{\\Big\\vert #1 \\Big\\vert }", 1],
          absBBB: ["{\\bigg\\vert #1 \\bigg\\vert }", 1],
          absBBBB: ["{\\Bigg\\vert #1 \\Bigg\\vert }", 1],
          d: "{\\mathrm{d} }",
          dx: "{\\mathrm{d}x }",
          dy: "{\\mathrm{d}y }",
          dz: "{\\mathrm{d}z }",
          ds: "{\\mathrm{d}s }",
          dt: "{\\mathrm{d}t }",
          du: "{\\mathrm{d}u }",
          dv: "{\\mathrm{d}v }",
          pd: "{\\partial }",
          range: ["{ {#1}_{#2}, \\cdots, {#1}_{#3} }", 3],  // e.g. x1,...,xn
          dd: ["{\\frac{\\d #1}{\\d #2}}", 2],  // fractional derivatives
          pdd: ["{\\frac{\\pd #1}{\\pd #2}}", 2],  // fractional partial derivatives
          vec: ["{\\boldsymbol{#1}}", 1],  // vector
          vip: ["{\\langle #1\\rangle}", 1],  // vector inner product
        }
      },
      options: {
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process'
      }
    };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script"></script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
        <span><a title="home page" class="" href="{{ site.url }}/">首页</a></span>
        <span><a title="categories" class="" href="{{ site.url }}/categories/">分类</a></span>
        <span><a title="tags" class="" href="{{ site.url }}/tags/">标签</a></span>
        <span><a title="links" class="" href="{{ site.url }}/links/">链接</a></span>
        <span><a title="about" class="" href="{{ site.url }}/about/">关于</a></span>
        <span><a title="subscribe by RSS" class="" href="{{ site.url }}/feed/">订阅</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1988641-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
